.catalog__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  min-height: 1328px;
}

.catalog__heading {
  max-width: 800px;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  text-align: center;
  color: var(--text-primary);
  letter-spacing: 1px;
  margin: 0;

  & span {
    font-style: italic;
    color: var(--text-accent);
  }

  @media (max-width: 576px) {
    font-size: clamp(32px, 7vw, 60px);
    text-align: center;
  }
}

.catalog__tabs-list {
  display: grid;
  grid-template-columns: 115px 100px 124px;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  .catalog__tabs-item {
    padding: 0;
    margin: 0;

    .catalog__tab {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 16px;
      font-weight: 600;
      line-height: 150%;
      color: var(--tab-inactive-color);
      height: 46px;
      border: 1px solid var(--tab-inactive-border);
      border-radius: var(--radius-pill);
      padding-left: 8px;
      cursor: pointer;

      & div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background: var(--tab-inactive-img-bg);
        border-radius: var(--radius-pill);
      }
    }

    .catalog__tab--active {
      background: var(--tab-active-bg);
      color: var(--tab-active-color);
      border-color: transparent;

      & div {
        background: var(--tab-active-img-bg);
        border-radius: var(--radius-pill);
      }
    }
  }
  
  @media (max-width: 768px) {
    width: 361px;
  }
  @media (max-width: 576px) {
    width: auto;
  }
  @media (max-width: 440px) {
    width: 100%;
    max-width: 345px;
    gap: 8px;
  }
}

.catalog__products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 40px;
  width: 100%;

  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: auto;

    .catalog__product:nth-child(n + 5) {
      display: none;
    }
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.catalog__product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--tab-inactive-border);
  border-radius: var(--radius-block);

  &:hover .catalog__product-img img {
    transform: scale(1);
  }

  .catalog__product-img {
    max-width: 310px;
    height: 310px;
    border-radius: var(--radius-block);
    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transform: scale(1.1);
      transition: var(--transition);
    }

    @media (max-width: 1089px) {
      width: 100%;
    }
  }
}

.catalog__product-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 310px;
  min-height: 196px;
  padding: 20px;

  .catalog__product-heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    color: var(--text-primary);
    letter-spacing: 0.4px;
  }

  .catalog__product-text {
    /* max-width: 190px; */
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var(--text-primary);
    letter-spacing: 0.3px;
  }

  .catalog__product-price {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    color: var(--text-primary);
    margin-top: auto;
  }
}
