:root {
  --text-primary: #403f3d;
  --text-inverse: #e0d4ca;
  --text-accent: #ad917c;

  --bg-page: #e0d4ca;
  --bg-container: #655f55;
  --bg-overlay: #666564;

  --border-primary: #c0b6ae;
  --border-inverse: #655f55;

  --theme-btn-inactive-bg: transparent;
  --theme-btn-inactive-icon: #403f3d;
  --theme-btn-active-bg: #ad917c;
  --theme-btn-active-icon: #e0d4ca;
  --theme-btn-hover-bg: #655f56;
  --theme-btn-hover-icon: #e0d4ca;

  --tab-active: #655f55;
  --tab-inactive: transparent;
  --tab-hover: #655f55;

  --button-primary: #e0d4ca;
  --button-secondary: #655f55;
  --button-transparent: transparent;
}

html.dark {
  --text-primary: #e0d4ca;
  --text-accent: #ad917c;

  --bg-page: #292826;
  --bg-container: #403f3d;
  --bg-overlay: #545351;

  --border-primary: #665f55;
  --border-inverse: #c1b6ad;

  --theme-btn-hover-bg: #ad917c;
  --theme-btn-hover-icon: #403f3d;
  --theme-btn-inactive-icon: #e0d4ca;

  --tab-active: #403f3d;
  --tab-inactive: transparent;
  --tab-hover: #655f55;

  --button-primary: var(--button-transparent);
  --button-secondary: #403f3d;
}
