:root {
  --font-family: 'Inter', Arial, sans-serif;

  --viewport-desktop: 1440px;
  --viewport-tablet: 768px;
  --viewport-mobile: 380px;

  --container-padding: 40px;
  --container-width: calc(
    var(--viewport-desktop) - var(--container-padding) * 2
  );

  --radius-pill: 100px;
  --radius-block: 40px;

  --transition: all 0.2s ease;
}
